@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background: #FAFAFA;
    width: 100%;
}
header {
    background: #FAFAFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px #DBDBDB;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo ion-icon {
    padding-right: 11px;
    border-right: solid 1px #DBDBDB;
    font-size: 22px;
    margin: 10px;
}
.icons ion-icon {
    padding-right: 11px;
    font-size: 22px;
}
ion-icon:hover {
    color: #3590d2;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 103px;
    height: 29px;
}
.pesquisa input{
    text-align: center;
}
.conteudo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.conteudoPrincipal {
    width: 612px;
}
.stories {
    border: solid 1px #DBDBDB;
    border-radius: 2px;
    background: #FFFFFF;
    display: flex;
    overflow: hidden;
    margin-top: 34px;
    width: 612px;
    position: relative;
}
.stories ion-icon {
    position: absolute;
    right: 0;
    top: 40%;
    color: #dbdbdb;
    font-size: 25px;
}
.story {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 0px 9px;
    text-align: center;
    position: relative;
    padding: 0px 7px;
}
.story img {
    width: 68px;
    height: 68px;
}
.story div {
    position: absolute;
    top: 6px;
    right: 13px;
}
.story div img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
}
p {
    margin: 0px;
    display: block;
}
.post {
    width: 614px;
    Height: 749px;
    border: solid 1px #DBDBDB;
    border-radius: 2px; 
    background: #FFFFFF;
    margin: 30px 30px 30px 0;
}
.postHeader {
    display: flex;
    justify-content: space-between;
}
.postHeader div {
    display: flex;
    align-items: center;
}
.postHeader div img {
    width: 32px;
    height: 32px;
    border-radius: 50px; 
    margin: 10px;
}
.postHeader ion-icon {
    align-items: center;
    justify-content: center;
    margin: 15px 5px;
}
.post img {
    width: 100%;
    height: 612px;
}
.posticons .icon {
    display: flex;
    justify-content: space-between;
    margin: 8px 15px 0;    
}
.posticons .icon div ion-icon {
    width: 18px;
    margin-right: 7px;
}
.posticons .text {
    display: flex;
    margin-left: 17px;
}
.posticons .text img {
    width: 20px;
    height: 20px;
    border-radius: 18px;
}
.posticons .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
span {
    font-weight: 500;
}
.post .comentario {
    display: flex;
    justify-content: space-between;
}
.post .comentario div {
    margin-left: 12px;
}
.post .comentario div ion-icon {
    width: 12px;
    height: 12px;
}
.post .comentario input {
    border: none;
}
.post .comentario p {
    color: #3880ff;
    margin-right: 12px;
}
.sadebar {
    width: 300px;
    border-radius: 2px;
    background: #FAFAFA;
    margin-left: 28px;
}
.sidebarPrincipal {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.sidebarPrincipal img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-right: 17px;
}
.sidebarPrincipal div p:last-child {
    color: #C4C4C4;
}
.indicie div{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.indicie div p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.indicie div p:nth-child(1) {
    color: #8E8E8E;
    ;
}
.sadebar .listaSugestao div img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.sugestoes {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.sugestoes-contas {
    display: flex;
}
.sugestoes-contas div img {
    margin-right: 11px;
}
.sugestoes-contas div h5 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.sugestoes-contas div p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #C7C7C7;
}
.seguir {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}
.sobre {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
    margin-top: 33px;
}