body {
    background: #FAFAFA;
}
header {
    background: #FAFAFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px #DBDBDB;
}
.logo ion-icon {
    padding-right: 11px;
    border-right: solid 1px #DBDBDB;
    font-size: 22px;
    margin: 10px;
}
.icons ion-icon {
    padding-right: 11px;
    font-size: 22px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 103px;
    height: 29px;
}
.pesquisa input{
    text-align: center;
}
.conteudo {
    display: flex;
    justify-content: center;
}
.conteudoPrincipal {
    width: 612px;
}
.stories {
    border: solid 1px #DBDBDB;
    border-radius: 2px;
    background: #FFFFFF;
    display: flex;
}
.story img {
    width: 66px;
    height: 66px;
    margin: 18px 7px 1px 7px;
}
.story img:nth-child(2) {
    border-radius: 50%;
}
p {
    margin: 0px;
    text-align: center;
}
.posts {
    border: solid 1px #DBDBDB;
    border-radius: 2px; 
    background: #FFFFFF;
}
.sadebar {
    border: solid 1px #DBDBDB;
    border-radius: 2px;
    background: #FAFAFA;
    margin-left: 28px;
}
.sidebarPrincipal img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}