body {
    background: #FAFAFA;
}
header {
    background: #FAFAFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px #DBDBDB;
}
.logo ion-icon {
    padding-right: 11px;
    border-right: solid 1px #DBDBDB;
    font-size: 22px;
    margin: 10px;
}
.icons ion-icon {
    padding-right: 11px;
    font-size: 22px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 103px;
    height: 29px;
}
.pesquisa input{
    text-align: center;
}
.conteudo {
    display: flex;
    justify-content: center;
}
.stories {
    border: solid 1px #DBDBDB;
    border-radius: 2px;
    background: #FFFFFF;
}
.posts {
    border: solid 1px #DBDBDB;
    border-radius: 2px; 
    background: #FFFFFF;
}
.sadebar {
    border: solid 1px #DBDBDB;
    border-radius: 2px;
    background: #FAFAFA;
}